<!DOCTYPE html>
<html>
<head>
  <title>ConnectFour Game Play</title>
  <%= include_gon %>
  <%=stylesheet_link_tag  "templatemo_style.css" %>
  <%=stylesheet_link_tag  "coda-slider.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "jquery-1.2.6.js" %>
  <%= javascript_include_tag "jquery.scrollTo-1.3.3.js" %>
  <%= javascript_include_tag "jquery.localscroll-1.2.5.js", :charset=>"utf-8" %>
  <%= javascript_include_tag "jquery.serialScroll-1.2.1.js", :charset=>"utf-8" %>
  <%= javascript_include_tag "coda-slider.js", :charset=>"utf-8" %>  
  <%= javascript_include_tag "c4logic.js" %>
  
  <%= csrf_meta_tags %>
</head>
<body onload="onGameLoad()">
    <div id="slider">
    <div id="templatemo_wrapper">
        <div id="header">
            <div id="site_title"><h1><a href="http://www.templatemo.com">Free CSS Templates</a></h1></div>
        </div>

        <div id="content">
        	<%=yield :play_pane%>
        </div> <!-- end of content -->
        <div id="footer">
            <div id="copyright">
				Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
            </div>
        </div>

    </div> <!-- end of wrapper -->
    </div> <!-- end of slider -->
</body>
</html>